.header {
    @screen md {
        padding-bottom: 11px !important;
        line-height: 1.2;
    }
}

.inner {
    div:first-child {
        @apply ml-6;
        margin-left: 96px;

        @screen md {
            margin-right: 0px;
            max-width: 128px;
            min-width: 128px;
        }

        @screen lg {
            margin-right: 56px;
            max-width: 228px;
            min-width: 228px;
        }
    }

    div:not(:first-child) {
        @apply ml-3;
    }

    div:last-child {
        @apply flex-1;
        min-width: 189.72px;
    }
}