.root {
    max-width: 90vw;
    padding: 70px 0;
    .heading {
        font-size: 3.2rem;
        line-height: 50px;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .slide {
        margin-bottom: 30px;
        max-width: 90%;
        &-heading {
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: 0.1rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
        &-text {
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: 0.05rem;
        }
    }
}

@screen 2xs {
    .root {
        max-width: 95vw;
    }
}

@screen md {
    .root {
        .heading {
            font-size: 3.5rem;
        }
        .slide {
            margin-bottom: 30px;
            &-heading {
                font-size: 3rem;
                line-height: 3rem;
            }
            &-text {
                font-size: 1.3rem;
                line-height: 2.25rem;
            }
        }
    }
}

@screen lg {
    max-width: 80vw;
    .root {
        padding: 160px 0;
        .heading {
            font-size: 3.75rem;
            line-height: 95px;
            letter-spacing: 4px;
        }
        .slide {
            max-width: 85%;
            padding: 0 20px;
            &-heading {
                margin-right: -50px;
                margin-left: -50px;
                margin-bottom: 15px;
            }
            &-text {
                line-height: 28px;
                margin-bottom: 25px;
            }
        }
    }
}

@screen xl {
    .root {
        .slide {
            @apply mb-0;
            max-width: 65%;
            &-text {
                @apply mb-0;
            }
        }
        .heading {
            font-size: 95px;
        }
    }
}

@screen 9xl {
    .root {
    }
}

.slider {
    @apply -bottom-5;
    max-height: 720px;
    margin: 0px auto;
    border-radius: 15px;
    padding-bottom: 20px;

    @screen lg {
        width: 70%;
    }

    .slick-dots {
        li {
            @apply bg-white;
        }
    }
    :global {
        .slick-next,
        .slick-prev {
            &::before {
                content: '';
            }
        }
        .slick-dots {
            margin-top: 30px;
            @apply max-w-none m-auto items-center justify-center bottom-0 flex;
            @media screen and (max-width: 768px) {
                @apply -bottom-16;
                padding: 1.5rem 2.5rem !important;
            }
            @screen md {
                @apply -bottom-10;
            }
            & > label {
                letter-spacing: 0.0625rem;
                transition-property: opacity;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 0.3s;
                font-size: 32px;

                @media screen and (max-width: 768px) {
                    font-size: 24px;
                }
            }

            ul {
                width: 35vw;
                max-width: 549px;
                margin: 0px 24px;

                @media screen and (min-width: 1366px) {
                    @apply w-full;
                }

                @media screen and (max-width: 768px) {
                    max-width: 233px;
                    @apply w-full;
                }
            }

            li {
                @apply w-full m-0 h-px;
                max-width: 200px;

                @media screen and (max-width: 768px) {
                    max-width: 25%;
                }

                button {
                    @apply w-full p-2 flex items-center h-4 bg-transparent;
                    &::before {
                        @apply opacity-50 bg-white h-px w-full;
                        content: '';
                    }
                }

                &.slick-active {
                    button {
                        &::before {
                            @apply opacity-100 bg-white;
                        }
                    }
                }
            }
        }
    }
}

.left-arrow,
.right-arrow {
    @apply border border-solid border-white rounded-full flex justify-center items-center cursor-pointer absolute z-50;
    height: 32px;
    min-width: 32px;
    top: 50%;
    @screen md {
        height: 48px;
        min-width: 48px;
    }
    &:focus {
        outline: none;
    }
}
.left-arrow {
    left: 0.5rem;
    @screen lg {
        left: calc(16.5% - 48px);
    }
}
.right-arrow {
    right: 0.5rem;
    @screen lg {
        right: calc(16.5% - 48px);
    }
}
.chevron {
    width: 20px;
    height: 20px;
}
