/**
 * HTML Block Content
 */

// .content-left,
// .content-right
.content-left,
.content-right {
    @apply inline-block align-middle;
    padding: 8vw 0 9vw;
    min-height: 15vw;
    width: 46.5%;

    @media only screen and (max-width: 768px) {
        @apply w-full;
    }
}

// .content-right
.content-right {
    @apply text-right;
    padding-left: 1%;
    margin-left: 52%;

    @media only screen and (max-width: 768px) {
        @apply ml-0 text-left;
    }

    // .content-right p
    p {
        @apply font-thin;
    }
}

// .content_wrapper
.content_wrapper {
    // .content_wrapper p
    p {
        @media only screen and (max-width: 768px) {
            @apply font-aktivGrotesk font-normal;
            font-size: 14px;
        }
    }
}
